{% trans_default_domain 'FOSUserBundle' %}

<h1 class="page-header text-primary">Esqueci minha senha</h1>

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request" novalidate="novalidate">
    <div class="form-group">
        <label for="username">{{ 'resetting.request.username'|trans }}</label>
        <input type="text" id="username" name="username" class="form-control input-lg" required="required" />
    </div>
    <br/>
    <input type="submit" class="btn btn-lg btn-warning" value="{{ 'resetting.request.submit'|trans }}" />
</form>
