{% extends 'admin/base.html.twig' %}

{% block content %}

    {% include 'admin/header_home.html.twig' %}

    <main class="container container-error">
        <div class="jumbotron text-center">
            <h1>{{ title }}</h1>
            <p>{{ mensagem }}</p>
        </div>
    </main>
{% endblock %}