<div class="row">
    <div class="col-sm-6">
        <dt>Data e hora desta versão</dt>
        <dd>{{ item.createdIn|date('d/m/Y H:i:s') }}</dd>
    </div>
    <div class="col-sm-6">
        <dt>Autor(a) desta versão</dt>
        {% if item.autor is defined and item.autor != null %}
            <dd><a href="{{ path('user_user_show', { 'params': item.autor.id }) }}">{{ item.autor.username }}</a></dd>
        {% else %}
            <dd class="text-muted font-style-italic">Não definida(o)</dd>
        {% endif %}
    </div>
</div>
