{% extends 'AdminBundle:Crud:base-list.html.twig' %}

{% set title = 'Projetos' %}
{% set routeAdd = path('realizacao_projeto_new') %}
{% set routeCsv = path('realizacao_projeto_csv') %}

{% block addAction %}
    <div class="navbar-form navbar-nav">
        <a class="btn btn-success" href="{{ routeAdd }}">{% include 'AdminBundle:SVG:adicionar.html.twig' %}<span class="hidden-xs">Adicionar</span></a>
    </div>
{% endblock %}

{% block thead %}
    {% include 'RealizacaoBundle:Projeto:list-thead.html.twig' with { builderName: 'item'} %}
{% endblock %}

{% block tbody %}
    {% include 'RealizacaoBundle:Projeto:list-tbody.html.twig' %}
{% endblock %}
