{% extends 'CineviAdminBundle::base.html.twig' %}

{% set title = 'Página em Construção' %}

{% block navbar %}{% endblock %}

{% block body %}

    {{ parent() }}

    <p class="lead text-muted">Navegue pelo menu para continuar usando o sistema.</h1>

{% endblock %}
