<footer class="footer">
    <div class="container{% if containerFluid is defined and containerFluid == true %}-fluid{% endif %}">
        <hr class="invisible"/>
        <div class="row">
            <div class="col-sm-4 col-xs-6 text-left">
                <p class="text-muted"><small>&copy; {{ 'now'|date('Y') }} Departamento de Cinema e Vídeo</small></p>
            </div>
            <div class="col-sm-4 col-sm-push-4 col-xs-6 text-right">
                <p class="text-muted"><small><a title="Código-fonte no GitHub" href="https://github.com/glauberm/sistema-cinevi" target="_blank">Código</a> por <a title="Página do autor no GitHub" href="https://github.com/glauberm" target="_blank">Glauber Mota</a></small></p>
            </div>
            <div class="col-sm-4 col-sm-pull-4 col-xs-12 text-center">
                <a href="http://uff.br/" target="_blank" title="Universidade Federal Fluminense (UFF)">
                    <img src="{{ asset('img/uff.svg') }}" alt="Universidade Federal Fluminense (UFF)"/>
                </a>
            </div>
        </div>
    </div>
</footer>
