<header class="header-security header-home text-center">
    <div class="container">

        <div class="clearfix">
            <a class="a-logo" href="{{ path('home') }}" title="Departamento de Cinema e Vídeo da Universidade Federal Fluminense">
                <div class="logo page-header">
                    <img src="{{ asset('img/logo.svg') }}" alt="Departamento de Cinema e Vídeo da Universidade Federal Fluminense"/>
                </div>
            </a>
            <a class="link-sistema pull-right" href="{{ path('index') }}" class="btn btn-link">{% include 'admin/svg/sistema.html.twig' %}<span>Sistema</span></a>
        </div>

    </div>
</header>
