<header class="header-security text-center">
    <div class="container">

        <div class="clearfix">
            <a class="a-logo" href="{{ path('home') }}" title="Departamento de Cinema e Vídeo da Universidade Federal Fluminense (UFF)">
                <div class="logo page-header">
                    <img src="{{ asset('img/logo-security.svg') }}" alt="Departamento de Cinema e Vídeo da Universidade Federal Fluminense (UFF)"/>
                </div>
            </a>
            <a class="link-sistema pull-right" href="{{ path('index') }}" class="btn btn-link">{% include 'admin/svg/sistema.html.twig' %}<span>Sistema</span></a></li>
        </div>

    </div>
</header>
