{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <h1 class="page-header text-primary">Verifique seu e-mail</h1>

    <p class="lead">{{ 'registration.check_email'|trans({'%email%': user.email})|nl2br }}</p>
{% endblock fos_user_content %}
