{% extends 'CineviAdminBundle::base.html.twig' %}

{% set title = 'Início' %}

{% block navbar %}{% endblock %}

{% block body %}

    {{ parent() }}

    <p>Para visualizar o calendário de reservas, clique em <strong><a href="{{ path('get_reservas') }}">Reservas</a></strong>, no menu <strong>Almoxarifado</strong>.</p>

    <p>Para cadastrar um projeto, clique em <strong><a href="{{ path('get_projetos') }}">Projetos</a></strong>, no menu <strong>Realização</strong>, e depois em <strong>Adicionar</strong> para criar seu projeto, preenchendo o formulário.</p>

    <p>Para realizar reservas para um projeto já cadastrado, clique em <strong><a href="{{ path('get_reservas') }}">Reservas</a></strong>, no menu <strong>Almoxarifado</strong>, e depois em <strong>Adicionar</strong> para então preencher as datas de retirada e devolução e incluir os reserváveis desejados. Após salvar, você poderá visualizar sua reserva no calendário.</p>

{% endblock %}
