{% for equipe in item.equipes %}
    {% include 'CineviRealizacaoBundle:Equipe:item.html.twig' with {item: equipe} %}
{% endfor %}

<div class="row">
    <div class="col-sm-6"><dt>Elenco</dt><dd class="inherit">{{ item.elenco }}</dd></div>
    <div class="col-sm-6"><dt>Outras Informações</dt><dd class="inherit">{{ item.outrasInformacoes }}</dd></div>
</div>
<div class="row">
    <div class="col-sm-6"><dt>Participações em Festivais e Mostras</dt><dd class="inherit">{{ item.festivais }}</dd></div>
    <div class="col-sm-6"><dt>Prêmios</dt><dd class="inherit">{{ item.premios }}</dd></div>
</div>
