{% extends 'admin/base.html.twig' %}

{% block mainActions %}
    <a class="navbar-brand btn btn-link" href="{{ routeList }}" title="Voltar">
        {% include 'admin/svg/voltar.html.twig' %}
    </a>
{% endblock %}

{% block body %}

    {{ parent() }}

    <dl class="main-dl">
        {% for key, value in item.data %}
            <div class="row">
                <div class="col-xs-12">
                    <dt>{{ key }}</dt>
                    <dd>{{ value|nl2br }}</dd>
                </div>
            </div>
        {% endfor %}
    </dl>

{% endblock %}
