{% extends 'CineviAdminBundle::base.html.twig' %}

{% set title = 'Meu Perfil' %}
{% set routeListar = path('fos_user_profile_show') %}

{% block blockConfiguration %}{% endblock %}

{% block mainActions %}
    <a class="navbar-brand btn btn-link" href="{{ routeListar }}">
        {% include 'CineviAdminBundle:SVG:voltar.html.twig' %}
    </a>
{% endblock %}

{% block body %}
    {{ parent() }}
    {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
{% endblock body %}
