{% extends 'CineviAdminBundle::base.html.twig' %}

{% set title = 'Meu Perfil' %}
{% set routeList = path('fos_user_profile_show') %}

{% block mainActions %}
    <a class="navbar-brand btn btn-link" href="{{ routeList }}">
        {% include 'CineviAdminBundle:SVG:voltar.html.twig' %}
    </a>
    <div class="navbar-form navbar-nav">
        <a class="btn btn-info" href="{{ path('fos_user_change_password') }}">{% include 'CineviAdminBundle:SVG:editar.html.twig' %}<span class="hidden-xs">Mudar minha senha</span></a>
    </div>
{% endblock %}

{% block body %}
    {{ parent() }}
    {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
{% endblock body %}
