{% extends 'CineviAdminBundle::base.html.twig' %}

{% set title = app.user.username %}

{% block blockConfiguration %}{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                {% block maisActionsButton %}
                    <button type="button" class="navbar-toggle btn btn-default collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
                        <span class="sr-only">Mais...</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                {% endblock %}
                {% block mainAction %}
                    <a class="navbar-brand btn btn-link" href="{{ path('index') }}">
                        {% include 'CineviAdminBundle:SVG:voltar.html.twig' %}
                    </a>
                {% endblock %}
            </div>

            {% block maisActions %}
                <div class="collapse navbar-collapse in" id="main-navbar">
                    {% block maisBotoes %}
                        {% block maisBotoesBlock %}{% endblock %}
                        <div class="navbar-form navbar-nav">
                            <a class="btn btn-info" href="{{ path('fos_user_profile_edit') }}">Editar</a>
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    </nav>
{% endblock %}

{% block body %}
    {{ parent() }}
    {% include "FOSUserBundle:Profile:show_content.html.twig" %}
{% endblock body %}
