{% extends 'CineviAdminBundle::base.html.twig' %}

{% set title = app.user.username %}
{% set routeListar = path('index') %}
{% set routeEditar = path('fos_user_profile_edit') %}

{% block blockConfiguration %}{% endblock %}

{% block mainActions %}
    <a class="navbar-brand btn btn-link" href="{{ routeListar }}">
        {% include 'CineviAdminBundle:SVG:voltar.html.twig' %}
    </a>
    {% if is_granted('edit', user) %}
        <div class="navbar-form navbar-nav">
            <a class="btn btn-info" href="{{ routeEditar }}">{% include 'CineviAdminBundle:SVG:editar.html.twig' %}<span class="hidden-xs">Editar</span></a>
        </div>
    {% endif %}
{% endblock %}

{% block body %}
    {{ parent() }}
    {% include "FOSUserBundle:Profile:show_content.html.twig" %}
{% endblock body %}
