{% extends 'admin/base.html.twig' %}

{% set title = 'Mudar minha senha' %}
{% set routeList = path('fos_user_profile_show') %}

{% block mainActions %}
    <a class="navbar-brand btn btn-link" href="{{ routeList }}" title="Voltar">
        {% include 'admin/svg/voltar.html.twig' %}
    </a>
{% endblock %}

{% block body %}
    {{ parent() }}
    {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
{% endblock body %}
