.fc {
    --fc-small-font-size: 0.875em;
    --fc-page-bg-color: #fff;
    --fc-neutral-bg-color: rgba(108, 117, 125, 0.2);
    --fc-neutral-text-color: #6c757d;
    --fc-border-color: #ced4da;

    --fc-button-bg-color: #006989;
    --fc-button-border-color: #006989;
    --fc-button-hover-bg-color: #005974;
    --fc-button-hover-border-color: #00546e;
    --fc-button-active-bg-color: #00546e;
    --fc-button-active-border-color: #004f67;

    --fc-event-selected-overlay-color: transparent;

    --fc-more-link-bg-color: #ced4da;
    // --fc-more-link-text-color: inherit;

    // --fc-event-resizer-thickness: 8px;
    // --fc-event-resizer-dot-total-width: 8px;
    // --fc-event-resizer-dot-border-width: 1px;

    // --fc-non-business-color: rgba(215, 215, 215, 0.3);
    // --fc-bg-event-color: rgb(143, 223, 130);
    // --fc-bg-event-opacity: 0.3;
    // --fc-highlight-color: rgba(188, 232, 241, 0.3);
    --fc-today-bg-color: rgba(236, 208, 0, 0.2);
    --fc-now-indicator-color: #dc3545;

    a:not([href]) {
        color: inherit;
        text-decoration: inherit;
    }

    a[data-navlink] {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: end;

        &:hover,
        &:active {
            text-decoration: none !important;
            color: $link-hover-color;
            background-color: var(--fc-today-bg-color);
        }
    }

    .fc-toolbar-title {
        font-weight: bold;
        color: $secondary;

        &::first-letter {
            text-transform: uppercase;
        }
    }

    .fc-toolbar-chunk {
        &:first-child {
            margin-right: 0.5em;
        }

        &:last-child {
            display: flex;
            flex-wrap: wrap;
            justify-content: end;
            margin-left: 0.5em;
        }
    }

    .fc-daygrid-block-event .fc-event-title {
        white-space: normal;
        padding: 0.2em 0.5em;
        font-size: $font-size-base;
        font-weight: bold;
    }

    .fc-event:focus,
    .fc-event.hover {
        background-color: $blue-200 !important;
        box-shadow: none !important;
    }

    .fc-event-selected,
    .fc-event.active {
        background-color: $yellow-100 !important;
        border-color: $yellow-200 !important;
        box-shadow: none !important;
    }
}
