{% extends 'CineviAdminBundle::email.html.twig' %}

{% block mensagem %}

<p>{{ item.username }}, seu cadastro foi confirmado!</p><p>Para acessar o sistema, acesse o link abaixo:</p><p><a target='_blank' href='{{ url }}'>{{ url }}</a></p>

{% endblock %}
