{% extends 'CineviAdminBundle::email.html.twig' %}

{% set mensagem = item.username ~ ", seu cadastro foi confirmado!<br/>Para acessar o sistema, acesse o link abaixo:<br/><br/><a target='_blank' href='" ~ url ~ "'>" ~ url ~ "</a>" %}
