{% extends 'admin/email.html.twig' %}

{% block message %}

<p>Uma nova cópia final de título <strong>{{ item.realizacao.titulo }}</strong> acaba de ser registrada por <strong>{{  item.realizacao.user.username }}</strong> tendo você como professor responsável.<br/><br/>Para vê-la, acesse o link abaixo:<br/><br/><a target='_blank' href='{{ url }}'>{{ url }}</a></p>

{% endblock %}
