{% extends 'CineviAdminBundle:Crud:base-listar.html.twig' %}

{% set title = 'Funções' %}
{% set routeAdicionar = path('new_funcao') %}
{% set routeCsv = path('funcaos_csv') %}

{% block addAction %}
    {% if is_granted('ROLE_DEPARTAMENTO') %}
        <div class="navbar-form navbar-nav">
            <a class="btn btn-success" href="{{ routeAdicionar }}">{% include 'CineviAdminBundle:SVG:adicionar.html.twig' %}<span class="hidden-xs">Adicionar</span></a>
        </div>
    {% endif %}
{% endblock %}

{% block thead %}
    <th>{{ knp_pagination_sortable(pagination, 'Nome', 'item.nome') }}</th>
{% endblock %}

{% block tbody %}
    <td>
        <a href="{{ path('get_funcao', { 'id': item.id }) }}">{{ item.nome }}</a>
    </td>
{% endblock %}
