{% extends 'CineviAdminBundle:Crud:base-list.html.twig' %}

{% set title = 'Funções' %}
{% set routeAdd = path('new_funcoes') %}
{% set routeCsv = path('funcoes_csv') %}

{% block addAction %}
    {% if is_granted('ROLE_DEPARTAMENTO') %}
        <div class="navbar-form navbar-nav">
            <a class="btn btn-success" href="{{ routeAdd }}">{% include 'CineviAdminBundle:SVG:adicionar.html.twig' %}<span class="hidden-xs">Adicionar</span></a>
        </div>
    {% endif %}
{% endblock %}

{% block thead %}
    <th>{{ knp_pagination_sortable(pagination, 'Nome', 'item.nome') }}</th>
{% endblock %}

{% block tbody %}
    <td>
        <a href="{{ path('get_funcoes', { 'params': item.id }) }}">{{ item.nome }}</a>
    </td>
{% endblock %}
