{% extends 'CineviAdminBundle:Crud:base-listar.html.twig' %}

{% set title = 'Funções' %}
{% set routeAdicionar = path('new_funcao') %}

{% block thead %}
    <th>{{ knp_pagination_sortable(pagination, 'Nome', 'item.nome') }}</th>
{% endblock %}

{% block tbody %}
    <td>
        <a href="{{ path('get_funcao', { 'id': item.id }) }}">{{ item.nome }}</a>
    </td>
{% endblock %}
