{% extends 'AdminBundle::email.html.twig' %}

{% block message %}

<p>A cópia final de título <strong>{{ item.realizacao.titulo }}</strong> acaba de ter sua aprovação confirmada.</p><p>Para vê-la, acesse o link abaixo:</p><p><a target='_blank' href='{{ url }}'>{{ url }}</a></p>

{% endblock %}
