html {
    font-size: 62.5%;
}

a {
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

dd {
    display: inline-block;
    font-size: 16px;
}

dl div dd:after {
    content: ', ';
}

dd:only-of-type,
dd:last-of-type {
    margin-bottom: 25px;
}

dd:only-of-type:after,
dd:last-of-type:after {
    content: '';
}

.inherit {
    font-size: inherit;
}

.inline-block {
    display: inline-block;
}

.width-auto {
    width: auto;
}

.font-style-italic {
    font-style: italic;
}

legend {
    margin-top: 10px;
}

.jumbotron p {
    margin-top: 30px;
}

.form-group > .required:after {
    content: " *";
    color: #d9534f;
}

textarea.form-control {
    resize: vertical;
}

.overlay-alert {
    position: fixed;
    top: 20px;
    width: 100%;
    text-align: center;
    z-index: 30;
}

.overlay-alert span,
.pular-para-conteudo span {
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.25);
            box-shadow: 0 2px 10px rgba(0,0,0,0.25);
}

a.pular-para-conteudo {
    left: -100%;
    position: absolute;
    top: auto;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -999;
}

a.pular-para-conteudo:focus,
a.pular-para-conteudo:active {
    position: fixed;
    top: 20px;
    width: 100%;
    text-align: center;
    z-index: 999;
    left: auto;
    height: auto;
    overflow: inherit;
}

/* HEADER */
.header,
.header-home {
    padding: 12px 0 10px;
    border-bottom: 1px solid #bbaa1f;
    background: #ead741;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ead741), color-stop(100%,#decc3a));
    background: -webkit-linear-gradient(top, #ead741 0%,#decc3a 100%);
    background: -o-linear-gradient(top, #ead741 0%,#decc3a 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#ead741),to(#decc3a));
    background: linear-gradient(to bottom, #ead741 0%,#decc3a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ead741', endColorstr='#decc3a',GradientType=0 );
    -webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.15),0 2px 5px rgba(0,0,0,0.2);
    box-shadow: inset 0 -1px 0 rgba(255,255,255,0.15),0 2px 5px rgba(0,0,0,0.2);
}

.header .a-logo {
    display: block;
    max-width: 175px;
}

.header-security .a-logo {
    display: block;
    max-width: 226px;
    margin: 0 auto;
}

.header .logo {
    position: relative;
    top: 2px;
}

.header .logo svg  {
    max-width: 175px;
    max-height: 34px;
}

/* CONTENT */
.content {
    padding-top: 30px;
}

/* ASIDE */
.aside {
    margin-top: 60px;
}

/* MENU TOPO */
.header .menu-topo {
    position: relative;
    margin-top: -40px;
}

.header .menu-topo span,
.header-home .link-sistema span,
.header-security .link-sistema span {
    margin-left: 2px;
}

.header .menu-topo svg,
.header-home .link-sistema svg,
.header-security .link-sistema svg {
    width: 26px;
    height: 24px;
    margin-bottom: -7px;
}

.header .menu-topo .nav > li > a {
    padding: 10px;
}

.header .menu-topo li a svg g,
.header .menu-topo li a svg path,
.header-home .link-sistema svg g,
.header-home .link-sistema svg path,
.header-security .link-sistema svg g,
.header-security .link-sistema svg path {
    -webkit-transition: fill 0.3s ease;
    -o-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
}

.header .menu-topo .nav > li > a:hover,
.header .menu-topo .nav > li > a:focus,
.header-home .link-sistema:hover,
.header-home .link-sistema:focus,
.header-security .link-sistema:hover,
.header-security .link-sistema:focus {
    background-color: transparent;
}

.header .menu-topo .nav > .active > a:hover,
.header .menu-topo .nav > .active > a:focus {
    background-color: #006886;
}

.header .menu-topo li .logout svg g,
.header .menu-topo li .logout svg path {
    fill: #a94442;
}

.header .menu-topo li a:hover svg g,
.header .menu-topo li a:hover svg path,
.header .menu-topo li a:focus svg g,
.header .menu-topo li a:focus svg path,
.header .menu-topo li a:active svg g,
.header .menu-topo li a:active svg path,
.header-home .link-sistema:hover svg g,
.header-home .link-sistema:focus svg g,
.header-home .link-sistema:active svg g,
.header-home .link-sistema:hover svg path,
.header-home .link-sistema:focus svg path,
.header-home .link-sistema:active svg path,
.header-security .link-sistema:hover svg g,
.header-security .link-sistema:focus svg g,
.header-security .link-sistema:active svg g,
.header-security .link-sistema:hover svg path,
.header-security .link-sistema:focus svg path,
.header-security .link-sistema:active svg path {
    fill: #08A5D4;
}

.header .menu-topo li .logout:hover svg g,
.header .menu-topo li .logout:hover svg path,
.header .menu-topo li .logout:focus svg g,
.header .menu-topo li .logout:focus svg path,
.header .menu-topo li .logout:active svg g,
.header .menu-topo li .logout:active svg path {
    fill: #843534;
}

.header .menu-topo .active svg g,
.header .menu-topo .active svg path {
    fill: #EAD740;
}

.header .menu-topo .active a:hover svg g,
.header .menu-topo .active a:hover svg path,
.header .menu-topo .active a:focus svg g,
.header .menu-topo .active a:focus svg path,
.header .menu-topo .active a:active svg g,
.header .menu-topo .active a:active svg path {
    fill: #EAD740;
}

/* PANEL MENU */
.aside .panel-main+.panel-main {
    margin-top: 30px;
}

.aside .panel-main .panel-heading a {
    display: block;
}

.aside .panel-main .panel-heading a:hover,
.aside .panel-main .panel-heading a:focus,
.aside .panel-main .panel-heading a:active {
    text-decoration: none;
}

.aside .panel-main .panel-heading svg {
    width: 21px;
    height: 18px;
}

.aside .panel-main .panel-collapse svg {
    width: 23px;
    height: 21px;
    margin: 5px 5px -5px 5px;
}

.aside .panel-main .panel-collapse a {
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
}

.aside .panel-main .panel-collapse svg g,
.aside .panel-main .panel-collapse svg path {
    fill: #006886;
}

.aside .panel-main .panel-collapse .active svg g,
.aside .panel-main .panel-collapse .active svg path {
    fill: #EAD740;
}

/* NAVBAR */
.main .navbar svg {
    width: 20px;
    height: 18px;
}

.btn-default svg,
.btn-primary svg,
.btn-success svg,
.btn-warning svg,
.btn-danger svg,
.btn-info svg {
    margin-bottom: -4px;
    -webkit-filter: drop-shadow( 0 -1px 0 rgba(0,0,0,0.2) );
            filter: drop-shadow( 0 -1px 0 rgba(0,0,0,0.2) );
}

.main .navbar .btn-default,
.main .navbar .btn-primary,
.main .navbar .btn-success,
.main .navbar .btn-warning,
.main .navbar .btn-danger,
.main .navbar .btn-info {
    padding: 6px 8px;
}

/* ÍCONES */
.aside .panel-main .icone-voltar {
    -webkit-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.aside .panel-main .collapsed .icone-voltar {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.icone-uff {
    max-width: 56px;
    height: auto;
}

/* TO-MANY */
.to-many-adicionar {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dotted #dcdcdc;
}

/* FOOTER */
.footer {
    padding-bottom: 20px;
}

.footer p {
    padding: 7px 15px;
}

/* SECURITY */
.header-security .logo {
    display: block;
}

.header-security .logo svg {
    max-width: 226px;
    max-height: 44px;
}

.content-security {
    padding-top: 30px;
}

.content-security .well {
    border-color: #bbaa1f;
    background: #decc3a;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#decc3a), color-stop(100%,#ead741));
    background: -webkit-linear-gradient(top, #decc3a 0%,#ead741 100%);
    background: -o-linear-gradient(top, #decc3a 0%,#ead741 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#decc3a),to(#ead741));
    background: linear-gradient(to bottom, #decc3a 0%,#ead741 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#decc3a', endColorstr='#ead741',GradientType=0 );
    color: #3D3A28;
}

.login-form .input-group-addon {
    background-color: #decc3a;
    border-color: #b3a21e;
}

.login-form .form-control {
    border-color: #b3a21e;
}

/* PUBLIC */
.header-home {
    padding: 0;
}

.header-home .link-sistema,
.header-security .link-sistema {
    margin: -80px 20px 20px;
    padding: 10px 15px;
}

/* ERROR */
.container-error .jumbotron {
    margin-bottom: 60px;
}

.container-error .jumbotron br {
    margin: 0 0 30px;
}

/* LOGIN */
.well .page-header {
    margin-top: 0;
}

.input-group svg {
    width: 18px;
    height: 18px;
}

.input-group svg path {
    fill: #3D3A28;
}

.input-group-btn-security {
    display: none;
}

/* BOOTSTRAP */
.navbar-form {
    border-top: 0 none;
    border-bottom: 0 none;
    padding: 0 15px;
    display: inline-block;
}

.navbar .form-group {
    margin-bottom: 0;
}

.list-group-item {
    padding-top: 8px;
    padding-bottom: 12px;
}

.caret {
    margin-left: 4px;
}

.caret-inverse {
    border-top: 0 none;
    border-bottom: 4px dashed;
    border-bottom: 4px solid;
}

.help-block ul li+li {
    margin-top: 10px;
}

.modal-footer {
    padding-bottom: 5px;
}

.modal-footer .btn,
.modal-footer .btn+.btn {
    margin-bottom: 10px;
}

/* DATETIMEPICKER */
.datepicker-left:before {
    content: "«";
}

.datepicker-right:after {
    content: "»";
}

/* FULL CALENDAR */
.reserva {
    padding: 5px 10px;
    font-size: 12px;
    background-color: #e6e6e6;
    border: 1px solid #adadad;
    color: #333;
}

.reserva:hover,
.reserva:focus,
.reserva:active {
    background-color: #d4d4d4;
    border-color: #8c8c8c;
    color: #333;
}

.fc-day-grid-event.reserva-propria {
    background: #EAD741;
    border: 1px solid #bbaa1f;
    color: #3D3A28;
}

.fc-day-grid-event.reserva-propria:hover,
.fc-day-grid-event.reserva-propria:focus,
.fc-day-grid-event.reserva-propria:active {
    color: #1C1B16;
    background-color: #decc3a;
}

.fc-basicDay-view .fc-start {
    background-color: #D9EDF7 !important;
    border-color: #ADADAD !important;
    color: #333 !important;
}

.fc-basicDay-view .fc-end {
    background-color: #F2DEDE !important;
    border-color: #ADADAD !important;
    color: #333 !important;
}

.fc-basicDay-view .fc-start.fc-end {
    background-color: #FCF8E3 !important;
    border-color: #ADADAD !important;
    color: #333 !important;
}

.fc-today {
    background-color: #D9EDF7 !important;
}

/* SELECT2 */
.select2-container--bootstrap .select2-results__option[aria-selected="true"] {
    background-color: #e7e7e7;
}

.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
    background-color: #006886;
}

.select2-container--bootstrap .select2-dropdown,
.select2-container--bootstrap.select2-container--focus .select2-selection,
.select2-container--bootstrap.select2-container--open .select2-selection {
    border-color: #ead740;
}

.select2-container--bootstrap.select2-container--focus .select2-selection,
.select2-container--bootstrap.select2-container--open .select2-selection {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(234, 215, 64, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(234, 215, 64, 0.6);
}

@media (min-width: 992px)
{
    .content-security .jumbotron {
        padding-top: 0;
    }

    .content-security .jumbotron h1 {
        margin-top: 0;
    }

    .menu-topo .nav > li > a {
        padding: 10px 15px;
    }

    .aside {
        margin-top: 0;
    }

    .btn-default svg,
    .btn-primary svg,
    .btn-success svg,
    .btn-warning svg,
    .btn-danger svg,
    .btn-info svg {
        margin-right: 3px;
        -webkit-filter: drop-shadow( 0 -1px 0 rgba(0,0,0,0.2) );
                filter: drop-shadow( 0 -1px 0 rgba(0,0,0,0.2) );
    }

    .main .navbar .btn-default,
    .main .navbar .btn-primary,
    .main .navbar .btn-success,
    .main .navbar .btn-warning,
    .main .navbar .btn-danger,
    .main .navbar .btn-info {
        padding: 6px 10px;
    }
}

@media (max-width: 320px)
{
    .header {
        padding-bottom: 0;
    }

    .header .a-logo {
        text-align: center;
        max-width: 100%;
    }

    .header .menu-topo {
        text-align: center;
        display: block;
        margin-top: 5px;
        width: 100%;
    }

    .header .menu-topo .nav {
        display: inline-block;
        margin: 0 auto;
    }
}

@media (max-width: 540px) {
    .header-home .link-sistema,
    .header-security .link-sistema {
        margin: -20px 0 10px 20px;
        width: 100%;
    }
}
