a {
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

dt {
    margin-top: 1.5rem;
}

dd {
    font-size: 2rem;
    display: inline-block;
    margin-bottom: 1.25rem;
}

dl div dd:after {
    content: ', ';
}

dd:only-of-type:after,
dd:last-of-type:after {
    content: '';
}

dd:last-of-type:after {
    content: '';
}

.inherit {
    font-size: inherit;
}

.inline-block {
    display: inline-block;
}

.width-auto {
    width: auto;
}

legend {
    margin-top: 10px;
}

.jumbotron p {
    margin-top: 30px;
}

.control-label.required:after {
    content: " *";
    color: #d9534f;
}

textarea.form-control {
    resize: vertical;
}

/* HEADER */
.header {
    border-bottom: 1px solid #decc3a;
    background: #EAD741;
    padding: 12px 0 10px;
}

.header .logo {
    position: relative;
    top: 2px;
}

.header .logo svg  {
    width: 175px;
    height: 34px;
}

/* CONTENT */
.content {
    padding-top: 20px;
}

/* MENU TOPO */
.menu-topo span {
    margin-left: 2px;
}

.menu-topo svg {
    width: 26px;
    height: 24px;
    margin-bottom: -7px;
}

.menu-topo .nav > li > a {
    padding: 10px;
}

.menu-topo li a svg g,
.menu-topo li a svg path {
    -webkit-transition: fill 0.3s ease;
    -moz-transition: fill 0.3s ease;
    -ms-transition: fill 0.3s ease;
    -o-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
}

.menu-topo .nav > li > a:hover,
.menu-topo .nav > li > a:focus {
    background-color: transparent;
}

.menu-topo .nav > .active > a:hover,
.menu-topo .nav > .active > a:focus {
    background-color: #006886;
}

.menu-topo li .logout svg g,
.menu-topo li .logout svg path {
    fill: #a94442;
}

.menu-topo li a:hover svg g,
.menu-topo li a:hover svg path,
.menu-topo li a:focus svg g,
.menu-topo li a:focus svg path,
.menu-topo li a:active svg g,
.menu-topo li a:active svg path {
    fill: #08A5D4;
}

.menu-topo li .logout:hover svg g,
.menu-topo li .logout:hover svg path,
.menu-topo li .logout:focus svg g,
.menu-topo li .logout:focus svg path,
.menu-topo li .logout:active svg g,
.menu-topo li .logout:active svg path {
    fill: #843534;
}

.menu-topo .active svg g,
.menu-topo .active svg path {
    fill: #EAD740;
}

.menu-topo .active a:hover svg g,
.menu-topo .active a:hover svg path,
.menu-topo .active a:focus svg g,
.menu-topo .active a:focus svg path,
.menu-topo .active a:active svg g,
.menu-topo .active a:active svg path {
    fill: #EAD740;
}

/* PANEL MENU */
.panel-main {
    margin-top: 60px;
}

.panel-main .panel-heading a {
    display: block;
}

.panel-main .panel-heading a:hover,
.panel-main .panel-heading a:focus,
.panel-main .panel-heading a:active {
    text-decoration: none;
}

.panel-main .panel-heading svg {
    width: 21px;
    height: 18px;
}

.panel-main .panel-collapse svg {
    width: 23px;
    height: 21px;
    margin: 5px 5px -5px 5px;
}

.panel-main .panel-collapse a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.panel-main .panel-collapse svg g,
.panel-main .panel-collapse svg path {
    fill: #006886;
}

.panel-main .panel-collapse .active svg g,
.panel-main .panel-collapse .active svg path {
    fill: #EAD740;
}

/* NAVBAR */
.navbar svg {
    width: 18px;
    height: 18px;
}

/* ÍCONES */
.icone-voltar {
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.collapsed .icone-voltar {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* FOOTER */
.footer {
    padding-bottom: 2rem;
}

.footer p {
    padding: 7px 15px;
}

/* SECURITY */
.body-security .input-group-addon {
    background-color: #decc3a;
    border-color: #b3a21e;
}

.body-security .form-control {
    border-color: #b3a21e;
}

.header-security svg {
    width: 226px;
    height: 44px;
}

.content-security .well {
    border-color: #decc3a;
    background: #EAD741;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* ERROR */
.container-error .jumbotron {
    margin-bottom: 60px;
}

.container-error .jumbotron br {
    margin: 0 0 30px;
}

/* LOGIN */
.well .page-header {
    margin-top: 0;
}

.input-group svg {
    width: 18px;
    height: 18px;
}

.input-group-btn {
    display: none;
}

/* BOOTSTRAP */
.navbar-form {
    border-top: 0 none;
    border-bottom: 0 none;
}

.navbar .form-group {
    margin-bottom: 0;
}

.list-group-item {
    padding-top: 8px;
    padding-bottom: 12px;
}

.caret {
    margin-left: 4px;
}

.caret-inverse {
    border-top: 0 none;
    border-bottom: 4px dashed;
    border-bottom: 4px solid;
}

/* FULL CALENDAR */
.fc-event {
    font-weight: 700 !important;
    padding: .25em .5em .25em !important;
    border: 1px solid #c8b41f !important;
    font-size: 1.2rem !important;
    color: #FFF;
}

.fc-left,
.fc-right {
    margin-bottom: 10px;
}

.fc-day-grid-event .fc-content {
    white-space: normal !important;
}

@media (min-width: 768px)
{
    .menu-topo .nav > li > a {
        padding: 10px 15px;
    }

    .panel-main {
        margin-top: 0;
    }
}
