{% extends 'CineviAdminBundle::email.html.twig' %}

{% set mensagem = "Você registrou um novo projeto de título <strong>" ~ item.realizacao.titulo ~ "</strong>.<br/><br/>Para vê-lo, acesse o link abaixo:<br/><br/><a target='_blank' href='" ~ url ~ "'>" ~ url ~ "</a>" %}
