{% extends 'CineviAdminBundle:Crud:base-listar.html.twig' %}

{% set title = 'Projetos' %}
{% set routeAdicionar = path('new_projeto') %}

{% block thead %}
    <th>{{ knp_pagination_sortable(pagination, 'Título', 'r.titulo') }}</th>
{% endblock %}

{% block tbody %}
    <td>
        <a href="{{ path('get_projeto', { 'id': item.id }) }}">{{ item.realizacao.titulo }}</a>
    </td>
{% endblock %}
