{% extends 'CineviAdminBundle:Crud:base-list.html.twig' %}

{% set title = 'Projetos' %}
{% set routeAdd = path('new_projetos') %}
{% set routeCsv = path('projetos_csv') %}

{% block addAction %}
    <div class="navbar-form navbar-nav">
        <a class="btn btn-success" href="{{ routeAdd }}">{% include 'CineviAdminBundle:SVG:adicionar.html.twig' %}<span class="hidden-xs">Adicionar</span></a>
    </div>
{% endblock %}

{% block thead %}
    {% include 'CineviRealizacaoBundle:Projeto:list-thead.html.twig' with { builderName: 'item'} %}
{% endblock %}

{% block tbody %}
    {% include 'CineviRealizacaoBundle:Projeto:list-tbody.html.twig' %}
{% endblock %}
