{% extends 'CineviAdminBundle:Crud:base-mostrar.html.twig' %}

{% set title = item.realizacao.titulo %}
{% set routeListar = path('get_projetos') %}
{% set routeEditar = path('edit_projeto', { 'id': item.id }) %}

{% block maisBotoes %}
    {% block maisBotoesBlock %}{% endblock %}
    {% if is_granted('ROLE_DEPARTAMENTO') or item.realizacao.user == app.user %}
        <div class="navbar-form navbar-nav">
            <a class="btn btn-info" href="{{ routeEditar }}">Editar</a>
        </div>
    {% endif %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        {{ form_start(deleteForm, { 'attr' : { 'class': 'navbar-form navbar-left' } }) }}
            {{ form_row(deleteForm.remover) }}
        {{ form_end(deleteForm) }}
    {% endif %}
{% endblock %}

{% block dtdd %}

    {% include 'CineviRealizacaoBundle:Projeto:item.html.twig' %}

{% endblock %}
