{% extends 'admin/base.html.twig' %}

{% block robots %}
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
{% endblock %}

{% block content %}
    {% include 'admin/header_home.html.twig' %}

    <div class="content content-security">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-push-2 col-sm-10 col-sm-push-1">
                    <div class="jumbotron text-center">
                        <h1>Todos os serviços do departamento em qualquer lugar.</h1>
                        <p>Cadastre projetos, reserve equipamentos no almoxarifado e muito mais pelo celular, tablet ou qualquer outro dispositivo com acesso à internet.</p>

                        <p><strong>Se você é aluno, funcionário ou professor do Departamento de Cinema e Vídeo da UFF, <a href="{{ path('index') }}">acesse o sistema</a>.</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
