<dt>Nome</dt><dd>{{ item.nome }}</dd>
{% include 'CineviAdminBundle:Parts:nullable-field.html.twig' with {
    'dt': 'Descrição',
    'item': item.descricao
} %}
<div class="row">
    <div class="col-sm-6"><dt>Criado em</dt><dd>{{ item.createdIn|date('d/m/Y H:m:s') }}</dd></div>
    <div class="col-sm-6"><dt>Última atualização em</dt><dd>{{ item.updatedIn|date('d/m/Y H:m:s') }}</dd></div>
</div>
