{% autoescape false %}

    <div style='background-color: #EEE; padding: 40px 20px 50px; text-align: center; line-height: 1.35;'>
        <h3 style='margin: 0px auto; width: 375px; display: block; font-size: 1.2rem; font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;'>
            <a style='color: #BFA82F; text-decoration: none;' href='{{ absolute_url(path("index")) }}' target='_blank'><img src='{{ absolute_url(asset("logo-email.png")) }}' alt='Departamento de Cinema e Vídeo da Universidade Federal Fluminense (UFF)' /></a>
        </h3>
        <br/><br/>
        <div style='width: 95%; margin: 0 auto;'>
            <div style='background-color: #FFF; padding: 10px 40px 30px; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; color: #333; border-bottom: 4px solid #E3E3E3; border-left: 2px solid #E3E3E3; border-right: 2px solid #E3E3E3;'>
                <div style='color: #006886; font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;'><h1>{{ subject }}</h1></div>
                <div style='font-size: 1rem; color: #333; font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;'>{% block message %}{% endblock %}</div>
            </div>
        </div>
        <br/>
        <small style='text-align: center; font-size: 0.7rem; color: #565656; font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;'>
            cinevi@vm.uff.br | (21) 2629-9761<br/>
            Rua Professor Lara Vilela, 126, São Domingos<br/>
            Niterói, RJ - 24210-590
        </small>
    </div>

{% endautoescape %}
