<div class="container">
    <hr/>
    <footer class="footer">
        <div class="clearfix">
            <div class="pull-left">
                <p class="text-muted">&copy; Departamento de Cinema e Vídeo</p>
            </div>
            <div class="pull-right">
                <p><a class="text-muted" href="#">Créditos</a></p>
            </div>
        </div>
    </footer>
</div>
