<footer class="footer">
    <hr class="invisible"/>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-xs-6 text-left">
                <p class="text-muted">&copy; {{ 'now'|date('Y') }} Departamento de Cinema e Vídeo</p>
            </div>
            <div class="col-sm-4 col-sm-push-4 col-xs-6 text-right">
                <p class="text-muted"><a href="https://github.com/glauberm/sistema-cinevi" target="_blank">Código</a> por <a href="https://github.com/glauberm" target="_blank">Glauber Mota</a></p>
            </div>
            <div class="col-sm-4 col-sm-pull-4 col-xs-12 text-center">
                <a href="http://uff.br/" target="_blank">
                    {% include 'CineviAdminBundle:SVG:uff.html.twig' %}
                </a>
            </div>
        </div>
    </div>
</footer>
