<div class="container">
    <header class="header header-security text-center">

        <h3 class="page-header text-muted">
            <a href="{{ path('index') }}" class="page-header text-muted">
                {% include 'CineviAdminBundle:SVG:logo.html.twig' %}
            </a>
        </h3>

        {#<div class="text-center">
            <a href="#">Painel de Controle</a>
        </div>#}

    </header>
    <br/>
</div>
