<header class="header-security header-public text-center">
    <div class="container">

        <h1 class="hidden">Departamento de Cinema e Vídeo da Universidade Federal Fluminense (UFF)</h1>

        <div class="clearfix">
            <a class="a-logo" href="{{ path('public') }}">
                <div class="logo page-header">
                    {% include 'CineviAdminBundle:SVG:logo.html.twig' %}
                </div>
            </a>
            <a class="link-sistema pull-right" href="{{ path('index') }}" class="btn btn-link">{% include 'CineviAdminBundle:SVG:sistema.html.twig' %}<span>Sistema</span></a></li>
        </div>

    </div>
</header>
