<header class="header-security text-center">
    <div class="container">

        <a href="{{ path('public') }}">
            <div class="logo page-header">
                {% include 'CineviAdminBundle:SVG:logo.html.twig' %}
            </div>
        </a>

    </div>
</header>
