<div class="container">
    <header class="header">

        <h3 class="page-header text-muted">
            <a href="{{ path('fos_user_profile_show') }}" class="page-header text-muted">
                {% include 'CineviAdminBundle:SVG:logo.html.twig' %}
            </a>
        </h3>

        {#<div class="text-center">
            <a href="#">Painel de Controle</a>
        </div>#}

    </header>
</div>
<br/>
