@font-face {
    font-family: 'Gill Sans Nova';
    src: local('Gill Sans Nova Medium'), local('GillSansNova-Medium'),
        url('../fonts/GillSansNova-Medium.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans Nova';
    src: local('Gill Sans Nova Medium Italic'), local('GillSansNova-MediumItalic'),
        url('../fonts/GillSansNova-MediumItalic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Gill Sans Nova';
    src: local('Gill Sans Nova Bold'), local('GillSansNova-Bold'),
        url('../fonts/GillSansNova-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans Nova';
    src: local('Gill Sans Nova Bold'), local('GillSansNova-BoldItalic'),
        url('../fonts/GillSansNova-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}
