$enable-smooth-scroll: false;

$blue: #006989;
$yellow: #ecd000;

$font-family-sans-serif: 'Gill Sans Nova', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';

$font-size-base: 1.125rem;
