{% extends 'CineviAdminBundle::email.html.twig' %}

{% set mensagem = "Você registrou uma nova reserva de equipamento(s)/espaço(s) de <strong>" ~ item.startDate|date('d/m/Y') ~ "</strong> a <strong>" ~ item.endDate|date('d/m/Y') ~ "</strong>.<br/><br/>Para vê-la, acesse o link abaixo:<br/><br/><a target='_blank' href='" ~ url ~ "'>" ~ url ~ "</a>" %}
