{% extends 'CineviAdminBundle::email.html.twig' %}

{% set mensagem = "A reserva de equipamento de código <strong>" ~ item.title ~ "</strong> acaba de ser editada.<br/><br/>Para vê-la, acesse o link abaixo:<br/><br/><a target='_blank' href='" ~ url ~ "'>" ~ url ~ "</a>" %}
