{% extends 'CineviAdminBundle::email.html.twig' %}

{% set mensagem = "Uma nova reserva de equipamento/espaço acaba de ser registrada por <strong>" ~ item.user.username ~ "</strong> de <strong>" ~ item.startDate|date('d/m/Y') ~ "</strong> a <strong>" ~ item.endDate|date('d/m/Y') ~ "</strong>  para o projeto <strong>" ~ item.projeto.realizacao.titulo ~ "</strong> que tem você como professor responsável.<br/><br/>Para vê-la, acesse o link abaixo:<br/><br/><a target='_blank' href='" ~ url ~ "'>" ~ url ~ "</a>" %}
