{% extends 'CineviAdminBundle::email.html.twig' %}

{% set mensagem = "Amanhã é a data de <strong>retirada</strong> da sua reserva de equipamento/espaço de código <strong>" ~ item.title ~ "</strong>.<br/><br/>Para vê-la, acesse o link abaixo:<br/><br/><a target='_blank' href='" ~ url ~ "'>" ~ url ~ "</a>" %}
