{% extends 'CineviAdminBundle::email.html.twig' %}

{% set mensagem = "Ontem foi a data de <strong>devolução</strong> da sua reserva de equipamento/espaço de código <strong>" ~ item.title ~ "</strong>. Se você já devolveu o(s) equipamento(s)/espaço(s) desta reserva, ignore esta mensagem. ☺<br/><br/>Para vê-la, acesse o link abaixo:<br/><br/><a target='_blank' href='" ~ url ~ "'>" ~ url ~ "</a>" %}
