{% extends 'CineviAdminBundle::email.html.twig' %}

{% set mensagem = "Ontem foi a data de <strong>devolução</strong> da reserva de equipamento de código <strong>" ~ item.title ~ "</strong> feita por <strong>" ~ item.user.username ~ "</strong>. Se os equipamentos desta reserva já foram devolvidos, ignore esta mensagem.<br/><br/>Para vê-la, acesse o link abaixo:<br/><br/><a target='_blank' href='" ~ url ~ "'>" ~ url ~ "</a>" %}
