{% extends 'CineviAdminBundle::email.html.twig' %}

{% set mensagem = "Uma nova reserva de equipamento<br/>de código <strong>" ~ item.title ~ "</strong> acaba de registrada por <strong>" ~ item.user.username ~ "</strong><br/>de <strong>" ~ item.startDate|date('d/m/Y') ~ "</strong> a <strong>" ~ item.endDate|date('d/m/Y') ~ "</strong>.<br/>Para vê-la, clique no link abaixo:<br/><br/><a target='_blank' href='" ~ url ~ "'>" ~ url ~ "</a>" %}
