{% extends 'AdminBundle::base.html.twig' %}

{% set title = 'Meu Perfil' %}
{% set routeList = path('fos_user_profile_show') %}

{% block mainActions %}
    <a class="navbar-brand btn btn-link" href="{{ routeList }}">
        {% include 'AdminBundle:SVG:voltar.html.twig' %}
    </a>
{% endblock %}

{% block body %}
    {{ parent() }}
    {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
{% endblock body %}
