{% extends 'admin/crud/base_show.html.twig' %}

{% set title = item.nome %}
{% set routeList = path('almoxarifado_categoria_index') %}
{% set routeEdit = path('almoxarifado_categoria_edit', { 'params': item.id }) %}

{% block dtdd %}
    {% include 'almoxarifado/categoria/item.html.twig' %}
{% endblock %}

{% block extras %}
    <h2 id="reservaveis" class="text-primary">Reserváveis</h2>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    {% include 'almoxarifado/equipamento/list_thead.html.twig' with { builderName: 'equipamento' } %}
                </tr>
            </thead>
            <tbody>
                {% for item in pagination %}
                    <tr>
                        {% include 'almoxarifado/equipamento/list_tbody.html.twig' %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% block blockPagination %}
        {% include 'admin/pagination/pagination.html.twig' with { name: 'numResultados' } %}
    {% endblock %}

{% endblock %}
