{% extends 'CineviAdminBundle::base.html.twig' %}

{% block navbar %}{% endblock %}

{% block body %}

    <div class="text-center">
        <h1 class="page-header text-primary">Página em Construção</h1>
        <p class="lead text-muted">{{ mensagem }}</h1>
    </div>
{% endblock %}
