{% extends 'CineviAdminBundle::email.html.twig' %}

{% block message %}

<p>O item <strong>{{ item.nome }}</strong> que você reservou foi marcado para a manutenção e provavelmente não poderá ser retirado na data da sua reserva.</p><p>Para vê-la, acesse o link abaixo:</p><p><a target='_blank' href='{{ url }}'>{{ url }}</a></p>

{% endblock %}
