<header class="header-security header-public text-center">
    <div class="container">

        <div class="clearfix">
            <a class="a-logo" href="{{ path('public') }}" title="Departamento de Cinema e Vídeo da Universidade Federal Fluminense (UFF)">
                <div class="logo page-header">
                    {% include 'AdminBundle:SVG:logo.html.twig' %}
                </div>
            </a>
            <a class="link-sistema pull-right" href="{{ path('index') }}" class="btn btn-link">{% include 'AdminBundle:SVG:sistema.html.twig' %}<span>Sistema</span></a></li>
        </div>

    </div>
</header>
