{% extends 'CineviAdminBundle::email.html.twig' %}

{% block mensagem %}

<p>Uma nova cópia final de título <strong>{{ item.realizacao.titulo }}</strong> acaba de ser registrada por <strong>{{ item.realizacao.user.username }}</strong> tendo você na equipe.</p><p>Para vê-la, acesse o link abaixo:</p><p><a target='_blank' href='{{ url }}'>{{ url }}</a></p>

{% endblock %}
