{% include 'CineviRealizacaoBundle:Realizacao:item.html.twig' with {item: item.realizacao} %}

<div class="row">
    <div class="col-md-6">
        {% include 'CineviAdminBundle:Parts:nullable-field.html.twig' with {
            'dt': 'Link para o vídeo',
            'item': item.linkVideo,
            'link': item.linkVideo,
            'target': '_blank'
        } %}
    </div>
    <div class="col-md-6">
        {% include 'CineviAdminBundle:Parts:nullable-field.html.twig' with {
            'dt': 'Senha do vídeo',
            'item': item.senhaVideo
        } %}
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <dt>Projeto</dt>
        {% if item.projeto is defined and item.projeto != null %}
            <dd>
                <a href="{{ path('get_projetos', { 'params': item.projeto.id }) }}">{{ item.projeto.realizacao.titulo }}</a>
            </dd>
        {% else %}
            <dd class="inherit">Outro</dd>
        {% endif %}
    </div>
    <div class="col-sm-6">
        {% include 'CineviAdminBundle:Parts:nullable-field.html.twig' with {
            'dt': 'Cromia',
            'item': item.cromia
        } %}
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        {% include 'CineviAdminBundle:Parts:nullable-field.html.twig' with {
            'dt': 'Proporção',
            'item': item.proporcao
        } %}
    </div>
    <div class="col-sm-4">
        {% include 'CineviAdminBundle:Parts:nullable-field.html.twig' with {
            'dt': 'Formato',
            'item': item.formato
        } %}
    </div>
    <div class="col-sm-4">
        {% include 'CineviAdminBundle:Parts:nullable-field.html.twig' with {
            'dt': 'Duração (em minutos)',
            'item': item.duracao
        } %}
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        {% include 'CineviAdminBundle:Parts:nullable-field.html.twig' with {
            'dt': 'Formato Digital Nativo',
            'item': item.formatoDigitalNativo
        } %}
    </div>
    <div class="col-sm-4">
        {% include 'CineviAdminBundle:Parts:nullable-field.html.twig' with {
            'dt': 'Codec',
            'item': item.codec
        } %}
    </div>
    <div class="col-sm-4">
        {% include 'CineviAdminBundle:Parts:nullable-field.html.twig' with {
            'dt': 'Container (wrapper)',
            'item': item.container
        } %}
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        {% include 'CineviAdminBundle:Parts:nullable-field.html.twig' with {
            'dt': 'Taxa de bits',
            'item': item.taxaBits
        } %}
    </div>
    <div class="col-sm-4">
        {% include 'CineviAdminBundle:Parts:nullable-field.html.twig' with {
            'dt': 'Velocidade',
            'item': item.velocidade
        } %}
    </div>
    <div class="col-sm-4">
        {% include 'CineviAdminBundle:Parts:nullable-field.html.twig' with {
            'dt': 'Som',
            'item': item.som
        } %}
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        {% include 'CineviAdminBundle:Parts:nullable-field.html.twig' with {
            'dt': 'Resolução de Áudio Digital',
            'item': item.resolucaoAudioDigital
        } %}
    </div>
    <div class="col-sm-6">
        {% include 'CineviAdminBundle:Parts:nullable-field.html.twig' with {
            'dt': 'Suporte de Matriz Digital',
            'item': item.suporteMatrizDigital
        } %}
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        {% include 'CineviAdminBundle:Parts:nullable-field.html.twig' with {
            'dt': 'Câmera',
            'item': item.camera
        } %}
    </div>
    <div class="col-sm-6">
        {% include 'CineviAdminBundle:Parts:nullable-field.html.twig' with {
            'dt': 'Software de Edição',
            'item': item.softwareEdicao|join(', ')
        } %}
    </div>
</div>
<div class="row">
{% include 'CineviAdminBundle:Parts:nullable-field.html.twig' with {
    'dt': 'Equipamentos de Captação de Som',
    'item': item.captacaoSom
} %}
</div>
<div class="row">
    <div class="col-sm-6">
        {% include 'CineviAdminBundle:Parts:nullable-field.html.twig' with {
            'dt': 'Orçamento',
            'item': item.orcamento,
            'dd': 'R$ ' ~ item.orcamento
        } %}
    </div>
    <div class="col-sm-6">
        {% include 'CineviAdminBundle:Parts:nullable-field.html.twig' with {
            'dt': 'Fontes de Financiamento',
            'item': item.fontesFinanciamento|join(', ')
        } %}
    </div>
</div>
{% include 'CineviAdminBundle:Parts:nullable-field.html.twig' with {
    'dt': 'Apoiadores',
    'item': item.apoiadores
} %}
{% include 'CineviAdminBundle:Parts:nullable-field.html.twig' with {
    'dt': 'Foi feito DCP?',
    'item': item.dcp
} %}
<div class="row">
    <div class="col-sm-6"><dt>Criado em</dt><dd>{{ item.createdIn|date('d/m/Y H:m:s') }}</dd></div>
    <div class="col-sm-6"><dt>Última atualização em</dt><dd>{{ item.updatedIn|date('d/m/Y H:m:s') }}</dd></div>
</div>

<fieldset>
    <legend><a id="Ficha Técnica" href="#Ficha Técnica">Ficha Técnica</a></legend>
    {% include 'CineviRealizacaoBundle:FichaTecnica:item.html.twig' with {item: item.fichaTecnica} %}
</fieldset>
