{% extends 'CineviAdminBundle:Crud:base-listar.html.twig' %}

{% set title = 'Cópias Finais' %}
{% set routeAdicionar = path('new_copia_final') %}
{% set routeCsv = path('copiaFinals_csv') %}

{% block addAction %}
    <div class="navbar-form navbar-nav">
        <a class="btn btn-success" href="{{ routeAdicionar }}">{% include 'CineviAdminBundle:SVG:adicionar.html.twig' %}<span class="hidden-xs">Adicionar</span></a>
    </div>
{% endblock %}

{% block thead %}
    <th>{{ knp_pagination_sortable(pagination, 'Título', 'r.titulo') }}</th>
{% endblock %}

{% block tbody %}
    <td>
        <a href="{{ path('get_copia_final', { 'id': item.id }) }}">{{ item.realizacao.titulo }}</a>
    </td>
{% endblock %}
