{% extends 'CineviAdminBundle:Crud:base-listar.html.twig' %}

{% set title = 'Cópias Finais' %}
{% set routeAdicionar = path('new_copia_final') %}

{% block thead %}
    <th>{{ knp_pagination_sortable(pagination, 'Título', 'item.realizacao.titulo') }}</th>
{% endblock %}

{% block tbody %}
    <td>
        <a href="{{ path('get_copia_final', { 'id': item.id }) }}">{{ item.realizacao.titulo }}</a>
    </td>
{% endblock %}
